<h1>This Works in a Better way after connecting to Github</h1>

<select>
  <option value={{ section.settings.liquid-text }}></option>
</select>



{% schema %}
{
    "name": "Liquid Reference",
    "settings": [
        {
            "id": "liquid-ref",
            "type": "text",
            "label": "A reference for Shopify Liquid"
        },
        {
            "id": "liquid-text",
            "type": "textarea",
            "label": "TextArea"
        }
    ],
    "enabled_on": {
        "templates": ["index","product","list-collections","collection"],
        "groups": ["footer"]
    }
}
{% endschema %}