<h1>This Works in a Better way after connecting to Github</h1>

{% schema %}
{
    "name": "Liquid Reference",
    "settings": [
        {
            "id": "liquid-ref",
            "type": "text",
            "label": "A reference for Shopify Liquid"
        }
    ],
    "enabled_on": {
        "templates": ["index","product","list-collections","collection"],
        "groups": ["footer"]
    }
}
{% endschema %}